{% load i18n %}

<div id="search" class="jawcracker-search"{% if oob %} hx-swap-oob="morph"{% endif %}>
  {% url "jawcracker-translation-list" language_id=language.language_name as target %}
  <form hx-get="{{ target }}" hx-trigger="input delay:450ms" hx-target="#list">
    <label for="id_search">{% include "jawcracker/svgs/magnifying-glass.svg" %}</label>
    <input type="search" name="q" id="id_search" placeholder="{% translate "Search translations" %}" value="{{ q }}">
  </form>
  <button type="button" hx-get="{{ target }}" hx-target="#list">{% include "jawcracker/svgs/x-mark.svg" %}</button>
</div>
